@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%;
}
.prl-1{
	padding: 0 4px;
	box-sizing: border-box;
}
.prl-2{
	padding: 0 8px;
	box-sizing: border-box;
}
.prl-3{
	padding: 0 12px;
	box-sizing: border-box;
}
.prl-4{
	padding: 0 16px;
	box-sizing: border-box;
}
.prl-5{
	padding: 0 20px;
	box-sizing: border-box;
}
.ptb-1{
	padding: 4px 0;
}
.ptb-6{
	padding: 24px 0;
	box-sizing: border-box;
}
.ptb-12{
	padding: 48px 0;
	box-sizing: border-box;
}